<!-- Task 3: On the login page create a log-in form that has an email and password input. -->

<!-- HTML Login Structure -->
<div class="wrapper">
  <form class="form-signin">
     <h2 class="form-signin-heading">User Login</h2>
     <input type="email" class="form-control" [(ngModel)]="email" name="email" placeholder="Email Address" />
     <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password" />
     <button (click)="signInEvent()" class="btn btn-lg btn-primary btn-block">Login</button>
     <!-- (clicK)="itemClicked()" -->
  </form>
</div>
