<p>profile works!</p>

<ng-template [ngIf]="valid">
  <div class="wrapper">
    <form class="form-signedin">
        <h2 class="form-signed-heading">Edit User Details: </h2>
        <input type="username" class="form-control" name="username" [(ngModel)]="username" placeholder="name"/>
        <input type="birthdate" class="form-control" name="birthdate" [(ngModel)]="birthdate" placeholder="birthdate (e.g., 02/10/1991)"/>
        <input type="age" class="form-control" name="age" [(ngModel)]="age" placeholder="age"/>
        <input type="email" class="form-control" name="email" [(ngModel)]="email" placeholder="email"/>
        <button (click)="saveDetails()" class="btn btn-lg btn-primary btn-block">Change Details</button>
        <!-- (click)="saveDetails()" -->
    </form>
  </div>
</ng-template>
